body {
    font-style: oblique;
}
p {
    font-weight: bold;
}
.back-color {
    color: black !important;
<<<<<<< HEAD
    background-color: 	#B5CFC4!important;
=======
    background-color: rgb(20, 82, 80) !important;
>>>>>>> 5c6a99b6ce7a37c5460efc605060155dd8274af1
}

.title {
    text-align: left;
    text-decoration: underline;
    color: #2c3e50;
}

.description {
    color: #12846e;
}

.portfolio-text {
    text-align: center !important;
    text-decoration: underline !important;
}

li {
    font-size:21px;
}

<<<<<<< HEAD
.let {
    color:#5C777F !important;
}

.letter {
    color:#5C777F;
    font-size: 24px;
}

.back-pic {
    background-image: url("floral-background.jpg") !important;
=======


.back-pic {
    background-image: url("mt-rainier.jpg") !important;
>>>>>>> 5c6a99b6ce7a37c5460efc605060155dd8274af1
    background-repeat: no-repeat;
    background-size: cover;
}

<<<<<<< HEAD
.full-name {
     color: white !important;
=======
.becu {
    color: #8E2F5B;
>>>>>>> 5c6a99b6ce7a37c5460efc605060155dd8274af1
}

