p {
    font-weight: bold;
}
.back-color {
    color: black !important;
    background-color: #ced4da !important;
}

.title {
    text-align: left;
    text-decoration: underline;
    color: #2c3e50;
}

.description {
    color: #12846e;
}

.portfolio-text {
    text-align: center !important;
    text-decoration: underline !important;
}

li {
    font-size:21px;
}