body {
    font-style: oblique;
}
p {
    font-weight: bold;
}
.back-color {
    color: black !important;
    background-color: 	#B5CFC4!important;
}

.title {
    text-align: left;
    text-decoration: underline;
    color: #2c3e50;
}

.description {
    color: #12846e;
}

.portfolio-text {
    text-align: center !important;
    text-decoration: underline !important;
}

li {
    font-size:21px;
}

.let {
    color:#5C777F !important;
}

.letter {
    color:#5C777F;
    font-size: 24px;
}

.back-pic {
    background-image: url("floral-background.jpg") !important;
}

.full-name {
    text-shadow: 
    -2px -2px 0 white,  
    2px -2px 0 white,
    -2px 2px 0 white,
     2px 2px 0 white;
     color: #B5CFC4 !important;
}

